.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1; /* Behind content */
}

.modal__form {
  width: 358px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.modal__content {
  position: relative;
  overflow: visible;
  width: 430px;
  min-height: auto;
  padding: 36px;
  background-color: #ffffff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 12px rgba(214, 92, 92, 0.1);
  z-index: 2; /*On top*/
}

.modal__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 3;
}

.modal__title {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 22px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #2f71e5;
  margin-bottom: 22px;
}

.modal__input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 8px 0 6px;
  outline: none;
  background: transparent;
}

.modal__input:focus {
  border-bottom: 1px solid;
}

.modal__submit {
  width: 100%;
  border: none;
  height: 56px;
  margin-top: 18px;
  border: none;
  background: #ccc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 20px;
  font-family: Inter;
  transition: opacity 0.2s ease-in-out;
}

.modal__submit:hover {
  background: #2f71e5;
}

.modal__switch {
  text-align: center;
  font-size: 14px;
  margin-top: 16px;
}

.modal__switch button {
  background: none;
  border: none;
  color: #2f71e5;
  cursor: pointer;
}

/* ======================= Mobile View (<= 480px) ========================= */
@media (max-width: 480px) {
  .modal__content {
    width: 100%;
    max-width: 480px;
    padding: 10px;
    margin-top: 60px;
    height: calc(100vh - 35px); /* Fill the screen but leave space at the top */
  }

  .modal__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Adds space between form elements */
  }

  .modal__close-btn {
    position: absolute;
    top: -50px;
    right: -10px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 3;
  }
}
