/* ====== Background that covers Header + Main ====== */
.hero {
  background-image: url("../../images/Header.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 576px;
}
