.saved-news {
  padding: 62px 104px;
  background-color: #f5f6f7;
  width: 100%;
  box-sizing: border-box;
}

/* saved-news info box */
.saved-news__info {
  background-color: #ffffff;
  margin: 0 -104px 40px;
  padding: 40px 104px;
}

/* Main Headline */
.saved-news__title {
  font-family: "Roboto Slab", serif;
  margin-bottom: 30px;
  font-size: 40px;
  color: #1a1b22;
  max-width: 600px;
  line-height: 1.2;
}

/* Subtitile for *Saved articles* */
.saved-news__subtitle {
  font-family: "Roboto Slab", serif;
  color: #1a1b2280;
  font-size: 18px;
  margin-bottom: 28px;
  margin-top: 40px;
}

/* Keywords Line */
.saved-news__keywords {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 400;
  color: #1a1b22;
}

.saved-news__keywords-highlight {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 18px;
}

/* Keyword badge */
.saved-news__keyword-badge {
  position: absolute;
  top: 16px;
  left: 16px;
  background: #ffffff;
  border-radius: 10px;
  padding: 6px 12px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #1a1b22;
}

.saved-news__card-content {
  padding: 20px 24px 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 0 0 16px 16px; /* bottom corners only */
}

/* Grid wrapper below info */
.saved-news__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 16px;
  background-color: #f5f6f7;
}

/* Styling for each card */
.saved-news__card {
  position: relative;
  background: #f5f6f7;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.saved-news__card-msg {
  position: absolute;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 17px;
  right: 82px;
  width: 182px;
  font-weight: 500;
  height: 40px;
  background: #ffffff;
  color: #1a1b22;
  border-radius: 8px;
}

/* Card Image */
.saved-news__card-img {
  width: 100%;
  height: 272px;
  object-fit: cover;
  border-radius: 16px 16px 0 0; /* top corners only */
}

/* Card Date */
.saved-news__card-date {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #b6bcbf;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 12px;
}

/* Card Title */
.saved-news__card-title {
  font-family: "Roboto Slab", serif;
  font-size: 26px;
  margin-bottom: 16px;
  color: #1a1b22;
  line-height: 30px;
  font-weight: 400;
}

/* Card Description */
.saved-news__card-description {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #1a1b22;
}

/* Card Source */
.saved-news__card-source {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #b6bcbf;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-top: 12px;
}

/* For Empty State */
.saved-news__empty {
  text-align: center;
  color: #1a1b22;
  font-size: 20px;
  margin-top: 40px;
}

/* Delete button */
.saved-news__delete-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  z-index: 2;
}

/* Trash Icon */
.saved-news__delete-btn:hover .trash__icon {
  content: url("../../images/trashHover.svg");
}

/* ============================== TABLET (≤780px) ================================ */
@media (max-width: 768px) {
  .saved-news {
    padding: 40px;
    margin: 0;
  }

  /* Info section */
  .saved-news__info {
    margin: 0;
    padding: 32px 40px;
    background-color: #ffffff;
    width: 100%;
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
  }

  .saved-news__subtitle {
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    margin-bottom: 16px;
    color: #1a1b2280;
  }

  .saved-news__title {
    font-size: 30px;
    line-height: 34px;
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .saved-news__keywords {
    font-size: 14px;
  }

  /* Cards grid */
  .saved-news__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;

    /* grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 32px; */
  }

  /* Card image */
  .saved-news__card-img {
    height: 200px;
  }

  /* Card content */
  .saved-news__card-content {
    padding: 16px;
  }

  .saved-news__card-title {
    font-size: 22px;
    line-height: 26px;
  }

  .saved-news__card-description {
    font-size: 16px;
  }

  /* Keyword badge */
  .saved-news__keyword-badge {
    font-size: 12px;
    padding: 4px 10px;
  }

  /* Delete tooltip */
  .saved-news__card-msg {
    right: 64px;
    width: 160px;
    height: 36px;
    font-size: 12px;
  }
}

/* ============================== MOBILE (≤480px) ================================ */

@media (max-width: 480px) {
  .saved-news {
    padding: 62px 10px;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
  }

  .saved-news__info {
    padding: 20px;
    margin: 0;
    background-color: #ffffff;
    max-width: 100%;
    box-sizing: 0 auto;
  }

  .saved-news__subtitle {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #1a1b2280;
    margin-bottom: 16px;
  }
  .saved-news__title {
    font-family: "Roboto", sans-serif;
    font-size: 24px; /*30*/
    font-weight: 400;
    line-height: 1.2;
  }

  .saved-news__keywords {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1a1b22;
  }

  .saved-news__keyword-badge {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-family: 700;
    top: 20px;
    left: 20px;
  }

  .saved-news__keywords-highlight {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
  }

  .saved-news__card-content {
    padding: 16px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start; /* Ensure content inside cards aligns to the left */
  }

  .saved-news__header .header__logo {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
  }
  .saved-news__header .header__sign-out {
    display: none;
  }

  .saved-news__card {
    width: 100%; /* Ensure cards take up full width */
    max-width: 100%; /* Prevent cards from exceeding the screen */
    margin: 0 auto; /* Center cards */
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }

  .saved-news__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
    padding: 0 16px;
  }

  .saved-news__card-img {
    width: 100%; /* Ensure image fits within the card */
    height: auto; /* Maintain aspect ratio */
  }

  .saved-news__card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 0 0 16px 16px;
  }

  .saved-news__card-title {
    font-family: "Roboto Slab", sans-serif;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 12px;
    color: #1a1b22;
  }

  .saved-news__card-description {
    font-family: "Roboto Slab", serif;

    font-size: 14px;
    color: #1a1b22;
    margin-bottom: 16px;
  }

  .saved-news__card-source {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #b6bcbf;
    margin-top: 8px;
  }
  .saved-news__delete-btn {
    width: 55px;
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    z-index: 2;
  }

  .saved-news__card-date {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #b6bcbf;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .saved-news__card-msg {
    font-size: 10px;
    width: 140px;
    height: 30px;
    margin-top: 25px;
    margin-right: 20px;
  }

  .saved-news__empty {
    text-align: center;
    color: #1a1b22;
    font-size: 16px;
    margin-top: 40px;
  }
}
