.about {
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 20px;
}

.about__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  margin: 0 0 24px 0;
  color: #1a1b22;
}

.about__content {
  display: flex;
  gap: 56px;
  align-items: flex-start;
}

.avatar__photo {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 1;
}

.about__section {
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.about__text {
  font-family: "Roboto Slab", serif;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0;
}

/* ============== MEDIA QUERIES ============== */

/* Table and below (<= 768px) */

@media (max-width: 768px) {
  .about__content {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .avatar__photo {
    width: 280px;
    height: 280px;
  }

  .about__section {
    max-width: 90%;
  }
}
