.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: transparent;
  border-bottom: 1px solid rgba(196, 196, 196, 0.2);
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 26px 104px;
}

.header__logo {
  font-family: "Roboto Slab", Arial, serif;
  font-weight: 700;
  font-size: 20px;
  width: 200px;
  margin: 0;
  color: #ffffff;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto Slab", Arial, serif;
  font-weight: 500;
  font-size: 18px;
  position: relative;
}

.header__nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 1px;
  bottom: -40px; /* adjust to align with border-bottom line */
}

.header__sign-in {
  width: 176px;
  height: 48px;
  border-radius: 100px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  line-height: 24px;
  letter-spacing: 0;
}

.header__drawer {
  display: none;
}

.header__hamburger {
  display: none;
}

/* ============== Header - Logged In============== */

.header.header__logged-in .header__menu {
  display: flex;
  align-items: center;
  gap: 5px; /* space between nav and buttons */
}

.header.header__logged-in .header__nav a {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  padding: 4px;
}

.header.header__logged-in .header__nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffffff; /* underline color */
  border-radius: 1px;
  bottom: -24px;
}

.header.header__logged-in .header__nav a:first-child {
  margin-right: 64px; /* space between Home and Saved Articles */
}

.header.header__logged-in .header__sign-out {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; /* space between username and logout icon */
  width: 112px;
  height: 48px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  margin-left: 64px; /* pushes sign-out button to the right */
}

/* ============== MEDIA QUERIES ============== */

/* Table and below (<= 768px) */
@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
  }

  .header__menu {
    width: 100%;
    justify-content: space-between;
  }
  .header__sign-in {
    width: 140px;
    height: 40px;
    font-size: 16px;
  }
}

/* Mobile (<=480px) */
@media (max-width: 480px) {
  .header {
    padding: 12px 16px;
  }

  .header__container {
    gap: 10px;
    padding: 0;
  }

  .header__nav a {
    font-size: 16px;
  }

  .header__sign-in {
    width: auto;
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* ============== HAMBURGER DRAWER ============== */

@media (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .header__sign-in {
    display: none;
  }
  .header__container--open {
    background-color: #1a1b22;
  }

  .header__hamburger {
    display: block;
    background: transparent;
    border: none;
    position: relative;
    margin-left: auto;
    margin-top: -40px;
  }

  .header__drawer {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #1a1b22;
  }

  .header__nav-drawer {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .header__nav-drawer:active {
    color: #ffffff;
  }

  .drawer__signin-btn {
    width: 176px;
    height: 48px;
    border-radius: 100px;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    font-size: 18px;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    line-height: 24px;
    letter-spacing: 0;
  }
}
