.header {
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 26px 104px;
}

.header__logo {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  width: 200px;
  margin: 0;
  color: #1a1b22;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav a {
  color: #1a1b22;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 18px;
}

.header__sign-in {
  width: 176px;
  height: 48px;
  border-radius: 100px;
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid #1a1b22;
  background: transparent;
  color: #1a1b22;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  line-height: 24px;
  letter-spacing: 0;
}

/* ============== MEDIA QUERIES ============== */

/* Table and below (<= 768px) */
@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
  }

  .header__menu {
    width: 100%;
    justify-content: space-between;
  }
  .header__sign-in {
    width: 140px;
    height: 40px;
    font-size: 16px;
  }
}

/* Mobile (<=480px) */
@media (max-width: 480px) {
  .header {
    padding: 12px 16px;
  }

  .header__container {
    gap: 10px;
    padding: 0;
  }

  .header__nav a {
    font-size: 16px;
  }

  .header__sign-in {
    width: auto;
    padding: 8px 16px;
    font-size: 14px;
  }
}
