.footer {
  width: 100%;
  background-color: #ffffff;
  color: #1a1b22;
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
  margin-bottom: 26px;
}

.footer__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0 80px;
}
.footer__right-group {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__copyright {
  color: #b6bcbf;
  font-weight: 400;
  font-size: 16px;
}

.footer__nav {
  display: flex;
  gap: 40px;
  flex-shrink: 0;
}

.footer__nav a {
  color: #1a1b22;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}

.footer__nav a:hover {
  text-decoration: underline;
}

.footer__social-icons {
  display: flex;
  gap: 48px;
}

.footer__social-icons a {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.footer__social-icons a:hover {
  color: #ccc;
}
.footer__icon {
  transition: opacity 0.3s ease;
}

/* ============== MEDIA QUERIES ============== */

/* Table and below (<= 480px) */

@media (max-width: 480px) {
  .footer {
    margin-top: 20px;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    gap: 38px;
  }

  .footer__right-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__nav {
    flex-direction: column;
    gap: 4px;
  }

  .footer__social-icons {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
  }

  .footer__copyright {
    font-size: 14px;
    order: 3;
  }
}
