.news__card-list-title {
  font-family: "Roboto Slab", Arial, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  width: 100%;
  max-width: 1280px;
  margin: 80px auto 64px;
  background-color: #f5f6f7;
  margin-top: 0;
}

.news__card-list-section {
  background-color: #f5f6f7;
  padding-top: 40px;
}

.news__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f5f6f7;
  padding-bottom: 80px;
}

.news__card-list-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}

.show__more-btn {
  background-color: #ffffff;
  color: #1a1b22;
  font-weight: 500;
  font-size: 18px;
  font-family: "Roboto Slab", Arial, serif;
  border-radius: 80px;
  border: 1px solid #f5f6f7;
  cursor: pointer;
  padding: 18px 48px;
}

.show__more-btn:hover {
  background-color: #e8e8e8;
  color: #ffffff;
}

.news__card-list-no-result {
  box-sizing: border-box;
  width: 1440px;
  height: 374px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no__results-title {
  font-size: 26px;
  font-weight: 400;
  font-weight: bold;
  margin-top: 31px;
  margin-bottom: 16px;
  color: #1a1b22;
}

.no__results-text {
  font-size: 18px;
  font-weight: 400;
  color: #6c707a;
  margin-bottom: 86px;
}

.news__card-list-no-result img {
  margin-top: 86px;
}
