.modal__error-register {
  font-family: Inter;
  color: #ff0000;
  font-size: 12px;
  display: flex;
  justify-content: center;
  height: 14px;
}

.registration__message {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.register__error-email {
  font-family: Inter;
  font-size: 12px;
  color: #ff0000;
  font-weight: 400;
  margin-top: -20px;
}

.register__error-password {
  font-family: Inter;
  font-size: 12px;
  color: #ff0000;
  margin-top: -20px;
  font-weight: 400;
}
.register__error-username {
  font-family: Inter;
  font-size: 12px;
  color: #ff0000;
  margin-top: -20px;
  font-weight: 400;
}
